<link rel="stylesheet" href="{$wa_app_static_url}plugins/retailcrm/css/retailcrm.css" type="text/css"/>

<div class="page-header">
    <h1>Настройки плагина</h1>
</div>
<div class="fields form">
    {$wa->csrf()}
    <form action="?plugin=retailcrm&action=save" method="post" id="plugins-settings-form">
        <div class="retail-panel retail-panel-default">
            <div class="retail-panel-heading">Настройки соединения</div>
            <div class="retail-panel-body retail-connect">
                <div class="retail-form-group">
                    <label for="retail-url" class="retail-control-label">Адрес RetailCRM:</label>
                    <input type="text" name="retailcrm[options][url]" class="retail-form-control" id="retail-url" placeholder="https://demo.intarocrm.ru"
                           value="{if isset($settings.url)}{$settings.url}{/if}">
                </div>
                <div class="retail-form-group">
                    <label for="retail-key" class="retail-control-label">Ключ авторизации:</label>
                    <input type="text" name="retailcrm[options][key]" class="retail-form-control" id="retail-key" placeholder="BTKPmnV9ojJLj0BTYjoKADHimiODE199"
                           value="{if isset($settings.key)}{$settings.key}{/if}">
                </div>
            </div>
        </div>

        <div class="retail-foot">
            <div class="field">
                <div class="value submit">
                    <input type="submit" class="btn btn-success" value="Сохранить">
                    <span id="plugins-settings-form-status" style="display: none">
                       <i class="icon16 yes"></i>
                   </span>
                </div>
            </div>
            <a class="retailcrm" href="http://www.retailcrm.ru/" target="_blank">
                <img src="{$wa_app_static_url}plugins/retailcrm/img/logo.png" alt="retailCRM">
            </a>
        </div>

    </form>
</div>
